@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fabin';
  src: url('/fonts/FABIN__.TTF') format('ttf');
  font-weight: 400;
  font-style: normal;
} 

@font-face {
  font-family: 'Stara';
  src: url('/fonts/Stara-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stara';
  src: url('/fonts/Stara-SemiBold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Stara';
  src: url('/fonts/Stara-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Stara';
  src: url('/fonts/Stara-ExtraBold.otf') format('otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Stara';
  src: url('/fonts/Stara-Black.otf') format('otf');
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "Stara", sans-serif;
  color:#09090b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f5;
}

.custom-shape-divider-bottom-1712081362 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1712081362 > svg {
  position: relative;
  display: block;
  width: calc(260% + 1.3px);
  height: 249px;
}

/** For tablet devices **/
@media (min-width: 640px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1712081362 > svg {
      width: calc(200% + 1.3px);
      height: 249px;
  }
}

/** For mobile devices **/
@media (max-width: 639px) {
  .custom-shape-divider-bottom-1712081362 > svg {
      width: 400%;
      height: 200px;
  }
}

/* carrosel */
.swiper {
  width: 91.5%;
  max-width: 1160px;
  overflow: visible !important;
  align-items: stretch;
}

.carousel-disable {
  opacity: 0.1;
  cursor: default !important;
}

.slide-actions button {
  display: flex;
  padding: 0.75rem;
  border: 1px solid #5A007A;
  border-radius: 100%;
  cursor: pointer;
}

.swiper-slide {
  overflow: visible;
}
